gitAPP_NAME=UPK Restoran
APP_ENV=local
APP_URL=http://localhost/upk-restoran/frontend

# Jika pakai Docker, DB_HOST=mysql, DB_PORT=3306
# Jika pakai Laragon, DB_HOST=127.0.0.1, DB_PORT=3306
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=db_restoran
DB_USER=root
DB_PASS=

