APP_NAME=UPK Restoran
APP_ENV=local
APP_URL=http://localhost/upk-restoran

DB_HOST=127.0.0.1
DB_PORT=3308
DB_NAME=db-restoran
DB_USER=root
DB_PASS=

PMA_PORT=8080

# Konfigurasi Pengiriman Email (Resend API)
RESEND_API_KEY=re_Wgbwphna_CjPeJY8kzAGgvnJQY1oa5znP
MAIL_FROM=no-reply@ultramaxo.tech
MAIL_NAME="NOCTRA Restaurant"

PAYMENT_API_KEY=7c3b83283217094ca37e58a57688daa4
PAYMENT_BASE_URL=https://qriscepat.com/api/